# Dependencias
node_modules/

# Builds
dist/
dist-electron/
out/
release/

# Electron
*.exe
*.app
*.dmg

# Base de datos local
*.db
*.db-journal

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
